body{
    margin: 0;
    padding: 0;
}

header{
    height: 200px;
    background: #4D1900;
}

footer{
    height: 70px;
    background: #4D1900;
}

.navbar{
    display: flex;
    background: black;
    color: white;
    justify-content: center;
}

.navbar ul{
    display: flex;
    list-style: none;
}

.navbar li{
    margin-left: 30px;
}

/* INDEX */

#image{
    background-image: url("../images/mulhertriste.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.articleindex{
    height: 530px;
    background-color: rgb(51, 51, 51, 0.85); /*75 */
}

.tituloindex{
    margin-top: 0;
    margin-bottom: 15px;
    margin-left: 15px;
    padding-top: 15px;
    font-size: 70px;
    color: white;
}

.subtituloindex{
    margin-left: 15px;
    font-size: 40px;
    color: white;
}

/* FORMULÁRIO */
.formsend{
    padding-top:20px;
    padding-bottom:200px;
    margin-top: 0;
    background: black;
    color: white;
}

.formsend h1{
    font-size: 60px;
    margin-left: 15px;
}

.formsend p{
    font-size: 30px;
    margin-left: 15px;
}

/*PAINEL*/
.articlepainel{
    padding-top:20px;
    padding-bottom:160px;
    margin-top: 0;
    background: black;
    color: white;
}
.articlepainel p{
    font-size: 30px;
}
.articlepainel ul{
    list-style: none;
    color: white;
    font-size: 30px;
}

.articlepainel a{
    color: white;
    text-decoration: none;
}

.articlepainel label{
    font-size: 30px;
}